@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;500;800&family=Dosis:wght@200;300;400;600;800&family=Fira+Code:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,600&family=Overlock:ital,wght@0,400;0,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Maru+Gothic:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Fira Code', monospace;
}
div#header {
    width: 100vw;
}

div#top_header {
    width: 100%;
    height: 35px;
    background: #8313ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

div#top_header_info {width: 40%;}

div#top_header_info ul li a {
    font-size: 12px;
    color: white;
    padding-left: 10px;
    font-weight: 500;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

div#top_header_info ul li {
    display: inline-block;
}

div#top_header_links ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

div#top_header_links {
    width: 40%;
}

div#top_header_links ul li a {
    padding: 0 10px;
    color: white;
}

div#top_add_listing_button a {
    color: white;
    font-size: 11px;
    padding: 10px 20px;
    background: #00c4ff;
    font-weight: 700;
}

div#top_add_listing_button {
    display: grid;
    padding: 0 30px;
}
div#nav_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

div#nav_menu_links {
    flex-basis: 50%;
}

div#nav_menu_links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div#nav_bar_links ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

div#nav_bar {
    padding: 20px 0;
    background: #fffdfe;
    position: relative;
}

div#nav_bar_links ul li a {color: rgb(64 64 64);padding: 12px;margin: 0 5px;border: none;border-radius: 5px;display: grid;box-shadow: 2px 5px 15px #b3b3b3;margin: 0 10px;}

div#nav_menu_links ul li a {
    color: rgb(50, 50, 50);
    font-weight: 500;
    padding: 3px 0;
}

div#nav_bar::before {content: '';width: 100%;height: 1px;position: absolute;background: rgb(50, 50, 50);bottom: 0;left: 0;}

div#logo {
    flex-basis: 25%;
    text-align: center;
}

div#nav_bar_links {
    flex-basis: 15%;
}