@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;500;800&family=Dosis:wght@200;300;400;600;800&family=Fira+Code:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,600&family=Overlock:ital,wght@0,400;0,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Maru+Gothic:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Fira Code', monospace;
}
div#header {
    width: 100vw;
}

div#top_header {
    width: 100%;
    height: 45px;
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

div#top_header_info {width: 40%;}

div#top_header_info ul li a {
    font-size: 12px;
    color: white;
    padding-left: 10px;
    font-weight: 500;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

div#top_header_info ul li {
    display: inline-block;
}

div#top_header_links ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

div#top_header_links {
    width: 40%;
}

div#top_header_links ul li a {
    padding: 0 10px;
    color: white;
    transition: 100ms;
}

#top_header_links ul li a:hover{
    color: blue;
}

div#top_add_listing_button a {
    color: white;
    font-size: 11px;
    padding: 10px 20px;
    background: #7800e5;
    font-weight: 700;
    transition: 200ms;
    border: 1px solid #1e1e1e;
}
div#top_add_listing_button a:hover{
    background: #fff;
    color: #1c1c1c;
    transform: scaleX(1.05);
}

div#top_add_listing_button {
    display: grid;
    padding: 0 30px;
}
div#nav_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

div#nav_menu_links {
    flex-basis: 50%;
}

div#nav_menu_links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div#nav_bar_links ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

div#nav_bar {
    padding: 20px 0;
    background: #fffdfe;
    position: relative;
}

div#nav_bar_links ul li a{
    color: rgb(64 64 64);
    padding: 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    display: grid;
    box-shadow: 2px 5px 15px #b3b3b3;
    margin: 0 10px;
    transition: 300ms;
}
div#nav_bar_links ul li a:hover{
    transform: scale(1.1);
    color: deepskyblue;
}

div#nav_menu_links ul li a {
    color: rgb(50, 50, 50);
    font-weight: 500;
    padding: 3px 0;
    transition: 100ms;
}
div#nav_menu_links ul li a:hover{
    color: deepskyblue;
}

div#nav_bar::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: rgb(50, 50, 50);
    bottom: 0;
    left: 0;
}

div#logo {
    flex-basis: 25%;
    text-align: center;
}

div#nav_bar_links {
    flex-basis: 15%;
}
div .fifty_percent {
    flex-basis: 50%;
}

section{
    padding: 100px 0;
}
.background{
    background: #f2f6f7;
}
#presentation{
    padding-bottom: 150px;
}
.container {
    position: relative;
    width: 100%;
    padding: 0 30px;
}

.change{
    padding-bottom: 110px;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

div#presentation_image img {
    width: 75%;
}

div#presentation_image {
    text-align: center;
    padding: 15px;
}

div#presentation_info h3 i {
    color: rgb(50, 50, 50);
    font-size: 16px;
}

div#presentation_info h3 {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
}

div#presentation_info {
    padding: 25px;
}

div#presentation_info h1 {
    font-family: 'Poppins', monospace;
    letter-spacing: 1px;
    color: #1c1c1c;
    font-size: 40px;
    padding: 15px 0;
}

div#presentation_info p {
    width: 85%;
    margin-bottom: 35px;
}
.button a {
    color: rgb(255 255 255);
    text-transform: uppercase;
    padding: 13px 35px;
    background: #3903a3;
    display: inline-block;
    border: 1px solid blue;
    transition: 300ms;
    font-weight: 600;
}
.button a:hover{
    background: #fff;
    color: #1c1c1c;
    border: 1px solid #1c1c1c;
}
div#presentation_selection {
    width: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
    margin: auto;
    border: 1px solid #dddddd;
    background: #fff;
    bottom: -75px;
    left: 10%;
}

.presentation_selection_div {
    flex-basis: 18%;
}

.presentation_selection_div select {
    width: 100%;
    padding: 13px 10px;
    color: #1c1c1c;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
}

option {
    text-align: left;
}



/* about section start */




div#about_image {
    flex-basis: 40%;
    display: inline-flex;
}

div.about_info {
    flex-basis: 50%;
    padding: 30px;
}

div#about_div {margin-bottom: 15px;}
div#about_div p {
    line-height: 1.5;
}

div#list_of_about_section {
    padding: 30px 0;
}

div#list_of_about_section ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 40px;
}

div#list_of_about_section ul li i {
    color: #4f07ff;
}

div#about_quote {
    padding: 25px 0 25px 20px;
    margin: 30px 0 45px;
    background: #e1def9;
    position: relative;
}

div#about_quote small {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
}

div#about_quote::after {content: '';position: absolute;height: 100%;width: 5px;background: #6847cd;left: 0;top: 0;}

div#about_div h4 {
    padding: 5px 15px;
    background: #7070ff;
    width: 120px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 25px;
    margin: 15px;
}

div#about_div h1 {
    font-family: 'Poppins', monospace;
    font-size: 32px;
    margin-bottom: 30px;
}


/* summery section start */




.summary_box {
    flex-basis: 20%;
    text-align: center;
    padding: 20px;
}

.summary_box i {
    display: inline-block;
    font-size: 60px;
    color: #3503d1c2;
    width: 100%;
    margin-bottom: 25px;
}

.summary_box span {
    font-size: 32px;
    font-weight: 700;
    color: #3c3a3a;
    display: inline-block;
    margin-bottom: 5px;
}

.summary_box p {
    font-size: 14px;
}



/* sel properties start */



div#sell_properties_imag {
    flex-basis: 45%;
    padding: 30px;
    display: inline-flex;
}
div#sell_properties_imag img {
    width: 100%;
}

.about_properties_info {
    width: 100%;
}

.about_info_list {
    padding: 15px 0;
}
.about_info_list ul li {
    line-height: 2.5;
}

.about_info_list ul span {
    color: #090097;
}

.about_properties ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 20px;
    width: 80%;
}

.about_properties_img {
    flex-basis: 31%;
    line-height: 0;
    display: inline-flex;
}

.about_properties_img a img {
    width: 100%;
}

.about_proerties_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex_inherit{
    align-items: inherit;
}



/* Our Main Focus section start */


.about_div {
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
}
.one_third {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 0 40px;
}

.our_main_focus_div {
    position: relative;
    flex-basis: 29%;
    text-align: center;
    padding: 30px;
    background: #fff;
    border: 1px solid #e9e9e9;
    transition: 400ms;
}

.our_main_focus_content a h3 {
    color: #1c1c1c;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 18px;
    transition: 200ms;
}

.our_main_focus_content p {
    line-height: 1.5;
    font-size: 13px;
    color: #5a5a5a;
    margin-bottom: 20px;
}

.our_main_focus_content a h3:hover {
    color: #4300b1;
    letter-spacing: 2px;
}
.our_main_focus_image img {
    margin: 10px 0;
}

div.our_main_focus_content a {
    display: inline-block;
}

div.our_main_focus_content a {
    font-size: 14px;
    color: #1c1c1c;
    transition: 200ms;
}
.our_main_focus_content a:hover {
    color: #1e02bd;
}

.our_main_focus_content a i{
    transition: 400ms;
}
.our_main_focus_content a:hover span i {
    transform: translateX(10px);
}
.our_main_focus_div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #7d6eff;
    bottom: 0;
    right: 0;
}

.about_div h4 {
    width: 150px;
    margin: auto;
    padding: 8px 0;
    border: none;
    border-radius: 25px;
    background: #ab90ff;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
}

.about_div h1 {
    font-size: 40px;
    margin-top: 15px;
    color: #1c1c1c;
    letter-spacing: 2px;
}
.our_main_focus_div:hover {
    transform: skewY(-2deg);
}